// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
	text-decoration: none;

	@include on-event {
		text-decoration: underline;
	}
}

/**
 * Basic styles for Divi links
 */
a {
	// Remove the underline from sliders
	&.et-pb-slider-arrow,
	&.et-pb-arrow-prev,
	&.et-pb-arrow-next,
	&.et_pb_video_play,
	&.et_pb_video_play:active,
	&.et_pb_video_play:focus,
	&.et_pb_video_play:hover,
	&.et_pb_font_icon {
		text-decoration: none;
	}

	@include on-event {
		text-decoration: none;
	}
}

// Default headers on Divi are too large for mobile
@include breakpoint($smartphone) {
	// Extra specificity needed for override
	.et_pb_module.et_pb_fullwidth_header {
		&.et_pb_fullwidth_header_0 {
			min-height: unset;
		}

		.et_pb_fullwidth_header_container {
			// Make the header text take up the whole space
			width: 100%;
		}

		.et_pb_fullwidth_header_container .header-content {
			// Make the header text take up the whole space
			width: 100%;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				&.et_pb_module_header {
					font-size: 2rem;
				}
			}
		}
	}
}

/// Remove whitespace from the top and bottom of an element so the elements sit right on top of each other.
.--novspace {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0 !important; // Overwrite theme styles in certain places
	padding-top: 0 !important; // Overwrite theme styles in certain places
}

/// General style to vertically align row
.--vertical-row-align {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
