// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}


/// Change the Divi navigation to use the mobile menu better
/// @author Collin Condray
@mixin mobile-navigation {
  #top-header {
    display: none;
  }

  // Use the hamburger navigation by default http://sundari-webdesign.com/divi-changing-breakpoint-of-mobile-menu
  #main-header .container #et-top-navigation {
    #top-menu-nav {
      display: none;

      #top-menu {
        display: none;
      }
    }

    #et_top_search {
      display: none;
    }

    #et_mobile_nav_menu {
      display: block;

      .et_mobile_menu {
        -overflow-scrolling: touch !important;
        -webkit-overflow-scrolling: touch !important;
        max-height: 80vh !important;
        overflow-y: scroll !important;
      }
    }
  }
}
