// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: Nexa, sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(0, 0, 0) !default;

/// Main brand color
/// @type Color
$color-primary: #9bcb3d !default;
$color-green: $color-primary;

/// General color
/// @type Color
$color-white: #ffffff;

/// General color
/// @type Color
$color-black: $text-color;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1080px !default;


/// Breakpoints via the Breakpoint library: Smartphone Portrait
$smartphone-portrait: max-width 479px;

/// Breakpoints via the Breakpoint library: General Smartphone
$smartphone: max-width 767px;

/// Breakpoints via the Breakpoint library: General Tablet
$tablet: 768px 1024px;

/// Breakpoints via the Breakpoint library: Tablet Portrait
$tablet-portrait: $tablet (orientation portrait);

/// Breakpoints via the Breakpoint library: Tablet Landscape
$tablet-landscape: $tablet (orientation landscape);

/// Breakpoints via the Breakpoint library: General Mobile
$mobile: 0 1024px;

/// Breakpoints via the Breakpoint library: Standard Desktop
$desktop: 1025px;

/// Switch to the mobile nav when the window gets too small to show the entire menu
$wide-desktop-mobile-nav: 0 1200px;

/// Breakpoints via the Breakpoint library: Wide Desktop (from Divi)
$wide-desktop: 1200px;
