body.single-product {
	// .woocommerce-variation.single_variation {
	// 	.woocommerce-variation-price, .woocommerce-variation-description, .woocommerce-variation-availability {
	// 		display: none;
	// 	}
	// }

	// .woocommerce-variation-add-to-cart .efw-fee-notice {
	// 	display: none;
	// }

	table.variations {
		td.label {
			display: table-row;
			display: block;
			margin-bottom: 10px;

			&:before {
				content: "Select ";
				font-size: 1.5em;
				font-weight: bold;
			}

			label {
				font-size: 1.5em;
				margin-bottom: 15px;
			}
		}

		td.value {
			display: table-row;
		}
	}
}
