// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// General button formatting. Covers the Divi button widget and short code
.small-button,
.et_pb_button,
.et_pb_module .et_pb_button,
.gform_button {
	background-color: $color-green;
	border-color: $color-white;
	border-radius: 3px;
    border-style: solid; // Override gforms button style
	padding: 0.375rem 1.25rem;
	color: $color-white;
    font-size: 1.25rem;
    font-weight: 700;
    white-space: normal;

	@include on-event {
		background-color: $color-green;
	}
}

// Navigation button styling
#top-header,
.et-fixed-header#top-header {
	.--nav-member-button,
	.--nav-vendor-button {
		a {
			padding: 1rem;
			border-radius: 3px;
			color: white;
			font-size: 1rem;
		}
	}
}

// Make text white on mobile
.et_mobile_menu li {
	&.--nav-member-button,
	&.--nav-vendor-button {
		text-align: center;
		a {
			color: white;
		}
	}
}

.--nav-member-button a {
	background-color: $color-green;
}

.--nav-vendor-button a {
	background-color: $color-black;
}
